<div>
  <%= image_tag 'gakuseisyou_boy.png', class: 'image', width: '250px' %>
  <h2>登録方法</h2>
  <ul>
    <li>学籍番号, 氏名の登録は必須です。</li>
    <li>メールアドレスの登録は任意ですが, 
    メールアドレスには一般的な"@"（アットマーク）を含むもの
    を登録できます。</li>
  </ul>
</div>